body {
	background-color: #cfe4ff !important;
}

.pa-content {
	max-width: 95vw;
	margin: 0 auto;
	background-image: url('../images/backgrounds/container-bg.jpg');
	background-size: 100% auto;
	padding: 0 15px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	@media (min-width: 1024px) {
		max-width: 90vw;
		padding: 0 20px;
	}
	@media (min-width: 1200px) {
		max-width: 80vw;
		padding: 0 25px;
	}
	@media (min-width: 1439px) {
		max-width: 1440px;
		padding: 0 30px;
	}
	@media (min-width: 1920px) {
		max-width: 1600px;
		padding: 0 40px;
	}

	&__title {
		width: 100%;
	}

	&__featured {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 2px dotted black;
	}
}
