@mixin archive-content {
	max-width: 80%;
	transition: all 0.2s ease-in-out;
	position: absolute;
	z-index: 5;
	margin: 0;
	padding: 0 15px;
	border-radius: 25px;
}

.pa-content__container {
	padding: 50px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;

	@media (min-width: 1440px) {
		gap: 20px;
	}
}

.pa-archive {
	width: 100%;
	box-sizing: border-box;
	border-radius: 30px;

	@media (min-width: 1440px) {
		width: calc(50% - 10px);
	}

	&__link {
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none;
	}
}


.pa-caricature {
	overflow: hidden;
	position: relative;

	&__image {
		width: 100%;
		padding-top: 75%;
		margin: 0;

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
		}
	}

	&__title {
		@include archive-content;
		color: var(--wp--preset--color--black);
		top: 15px;
		left: 20px;
		background-color: var(--wp--preset--color--white);
		box-shadow: 0 0 3px 3px var(--wp--preset--color--white);

		@media (min-width: 1024px) {
			top: -120%;
		}
	}

	&__excerpt {
		@include archive-content;
		color: var(--wp--preset--color--black);
		position: absolute;
		bottom: 15px;
		right: 20px;
		background-color: var(--wp--preset--color--light-green);
		box-shadow: 0 0 3px 3px var(--wp--preset--color--light-green);
		margin: 0;

		@media (min-width: 1024px) {
			bottom: -120%;
		}
	}

	@media (min-width: 1024px) {
		&:hover {
			.pa-caricature__title {
				top: 15px;
			}
			.pa-caricature__excerpt {
				bottom: 15px;
			}
		}
	}
}

.pa-post {
	background-color: #eeeeee;
	padding: 20px;

	&__title, &__excerpt {
		color: var(--wp--preset--color--black);
	}

	&__title {
		margin: 0 0 15px;
	}

	&:hover {
		background-color: #f6f6f6;
	}
}


.pa-pagination {
	display: flex;
	flex-direction: row;
	gap: 15px;
	padding: 10px 0;
	margin-bottom: 30px;
	justify-content: center;

	&__button {
		@include round-menu-item;
		width: 50px;
		height: 50px;

		@media (min-width: 1024px) {
			width: 40px;
			height: 40px;
		}

		a {
			background-image: $icon-arrow;
			background-repeat: no-repeat;
			background-size: 65%;
			background-position: center center;
		}

		&.is-previous > a {
			transform: rotate(90deg);
		}
		&.is-next > a {
			transform: rotate(-90deg);
		}

		&.is-disabled {
			display: none;
		}
	}

	.page-numbers {
		background-color: var(--wp--preset--color--green);
		margin: auto 0;
		padding: 1px 5px;
		color: var(--wp--preset--color--white);
		text-decoration: none;
		border-radius: 2px;
		font-size: 22px;

		&.current {
			background-color: transparent;
			color: var(--wp--preset--color--green);
		}
	}
}
